*{
    background-color: bisque;
}
img{
    height: 380px;
    width: 250px;

}
p
{
    text-indent: 100px ;
    text-align: justify;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    text-decoration: underline;
}